$COLOR_PRIMARY: #ffffff;
$COLOR_FOREGROUND: rgba(#ffffff, 15%);
$COLOR_BORDER: rgba(#ffffff, 30%);
$COLOR_LIGHT_TEXT: #ffffff;
$BORDER_RADIUS: 1rem;

$COLOR_MAIN_EVENT: #ba6541;
$COLOR_MAIN_EVENT_BORDER: darken($COLOR_MAIN_EVENT, 30%);
$COLOR_WORKSHOP: #324a79;
$COLOR_WORKSHOP_BORDER: darken($COLOR_WORKSHOP, 15%);
$COLOR_MINI_EVENT: #962c30;
$COLOR_MINI_EVENT_BORDER: darken($COLOR_MINI_EVENT, 15%);
$COLOR_SPONSOR: #71341c;
$COLOR_SPONSOR_BORDER: darken($COLOR_SPONSOR, 15%);
$COLOR_FOOD: #4ea4d0;
$COLOR_FOOD_BORDER: darken($COLOR_FOOD, 30%);
